body
{
 background-image:radial-gradient(farthest-corner circle, #FFF 3%, #c4d1d6);
}


@keyframes attaqueAnimation
{
    from
    {
    	margin top:400px;
    }

    to
    {
         margin-top: 0px;
    }
}

div#case1
{
	width:50px;
	height: 50px;
	border: 1px solid silver;
	background-color: silver;
	box-shadow: 3px 3px 10px silver;
    border-radius: 10px;
	margin-top: 400px;
}

div#case2
{
	width:50px;
	height: 40px;
	border: 1px solid skyblue;
	background-color: skyblue;
	box-shadow: 3px 3px 10px skyblue;
	border-radius: 10px;
	margin-top:-270px;
	text-align: center;
	padding-top: 10px;
}
table
{
	border-collapse: collapse;
	margin-left: 50px;
}
td
{
   	height: 600px;
}

table#table2
{
	margin-top: -605px;
	margin-bottom: -60px;
}
p#mot
{
	margin-left: 250px;
	margin-top: -36px;
	height: 20px;
	color:black;
	font-weight: bold;
	font-family:ubuntu;
}

p#motCacher
{
	color:gray;
	font-weight: bold;
	font-family:ubuntu;

}
button#Start
{
	margin-left:50px;
}

button
{
	width: 100px;
	height: 50px;
  background-image:linear-gradient(rgb(184 207 240),rgb(208 223 244),rgb(168 196 235), rgb(106 141 188),rgb(152 192 246), rgb(195 230 248));
  border-radius: 20px;
  border:1px ridge rgb(195 230 248);
  box-shadow: 10px 10px 30px  rgb(195 230 248);
  padding: 8px;
  color:#fff;
  transition-property:box-shadow;
  transition-duration:300ms;
}

div#point
{
	margin-left: 900px;
}

p#p1
{
	margin-top: -40px;
	color:black;
	font-weight: bold;
	font-family:ubuntu;

}
p#points
{
	margin-left: 100px;
	margin-top: -33px;
	color:blue;
	font-weight: bold;
	font-family:ubuntu;

}
p#p2
{
	margin-left: 140px;
	margin-top: -34px;
	color:black;
	font-weight: bold;
	font-family:ubuntu;

}